// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// DATA
//

VSTGUI.UIDESC           DATA                    "./resources/vstgui.uidesc"

/////////////////////////////////////////////////////////////////////////////
//
// PNG
//

KNOB.PNG                PNG                     "./resources/knob.png"
KNOB2.PNG               PNG                     "./resources/knob2.png"
GROUPFRAME.PNG          PNG                     "./resources/groupframe.png"
BACKGROUND.PNG          PNG                     "./resources/background.png"
AMBERONOFF.PNG          PNG                     "./resources/amberonoff.png"
VSJSTICK1.PNG           PNG                     "./resources/vsjstick1.png"

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "CompanyName", "www.willpirkle.com"
            VALUE "FileDescription", "VectorSynth"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "VectorSynth"
            VALUE "LegalCopyright", "© www.willpirkle.com"
            VALUE "OriginalFilename", "VectorSynth.vst3"
            VALUE "ProductName", "VectorSynth"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

